Flask==2.2.5
Flask_SQLAlchemy==3.0.3
Werkzeug==2.2.2
requests==2.31.0
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
